#set editing-mode vi

$if mode=vi
set keymap vi-command
# these are for vi-command mode
"k": history-search-backward
"j": history-search-forward
set keymap vi-insert
"jk": vi-movement-mode
# these are for vi-insert mode
#"\e[A": history-search-backward
#"\e[B": history-search-forward
$endif

$if mode=emacs
"\C-p": history-search-backward
"\C-n": history-search-forward
$endif
